/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
  /* Small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}

.main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::before {
    left: -30px;
}
.main-title::after {
    right: -30px;
}
.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
.spikes {
    position: relative;
}
.spikes::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}
.dots {
    background-image: url("../imgs/dots.png");
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    position: absolute;
}
.dots-up {
    top: 200px;
    right: 0;
}
.dots-down {
    bottom: 200px;
    left: 0;
}
  /* End Global Rules */

/*START HEADER*/

.header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
    .header .logo {
    width: 100%;
    height: 50px;
    }
}
.header .main-nav {
    display: flex;
}
@media (max-width: 767px) {
    .header .main-nav {
    margin: auto;
    }
}
.header .main-nav > li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}
.header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
    transition: var(--main-transition);
}
@media (max-width: 767px) {
    .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
    }
}
.header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
    left: 0;
}
.header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
    .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
    }
}
.header .mega-menu .image img {
    max-width: 100%;
}
@media (max-width: 991px) {
.header .mega-menu .image {
    display: none;
    }
}


.header .mega-menu .links{
    display: grid;
    margin-left: 93px;
}
.header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

.header .mega-menu .links a{
    text-decoration: none;
    text-transform: none;
    color: var(--main-color);
    font-weight: bold;
    top: 23px;
    position: relative;
}
/*START HEADER/*
/*START LANDING*/
.landing{
    background-color: #ddd;
    height: 600px;

}
.landing::before{
    content: "";
    background-color: #ddd;
    width: 1330px;
    height: 297px;
    bottom: -188px;
    right: 500px;
    z-index: -5;
    transform: skew(-65deg);
    position: absolute;
}

.landing .landing-content{
display: flex;
}

.landing .container .landing-content img{
    width: 650px;
    margin-left: 50px;
    transition: var(--main-transition);
    position: relative;
    animation-name: move;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-iteration-count:infinite ;
}

@keyframes move {
    0% , 100%{
        top: 0;
    }

    50%{
        top: -50px;
    }

}

.landing .container .landing-content .text h1{
    flex-basis: 40%;
    font-size: 48px;
}

.landing .container .landing-content .text p{
    font-size: 27px;
    color: #6c6c6c;
}

.landing .go-down{
    position: absolute;
    top: 95%;
    left: 50%;
    color: var(--main-color);
    transform: translate(553px);
    animation: bouncing 3s linear infinite;
}
@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100%{
    transform: translateY(0);
    }

    40%, 60%{
    transform: translateY(-30px)
    }
}
/*END LANDING/*
/*START ARTCLES*/
.articles{
margin-bottom: var(--main-padding-bottom);
margin-top: var(--main-padding-top);
z-index: 9999;
}
.spikes

 .main-title{
    transition: var(--main-transition);
}

 .main-title h2{
    padding: 0;
    margin: 0;
}

.main-title:hover::before{
    position: absolute;
    border-radius: 0;
    left: -2px;
    width: 100%;
    height: 100%;
    transition: var(--main-transition);

}

.main-title:hover::after{
    position: absolute;
    border-radius: 0;
    right: -2px;
    width: 100%;
    height: 100%;
    transition: var(--main-transition);
}

.articles .content-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0px;
}


.articles .box{
    width: 284px;
    background-color: white;
    border-radius: 5px;
    height: 400px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    margin-top: 60px;
    margin-left: 25px;
    gap: 20px;
    transition: var(--main-transition);
}


.articles .box:hover{
    box-shadow: 0 10px 40px rgb(0 0 0 / 10%);
    transform:translateY(-10px);
}


.articles .box img{
    width: 100%;
    border-radius: 5px 5px 0 0;
    max-width: 100%;
}

.articles .box h3{
    margin-left: 10px;
    font-weight: bold;
}

.articles .box p{
    margin-left: 10px;
    font-size: 20px;
    color: #777;
    margin-bottom: 50px;

}

.articles .box a{
    margin-left: 10px;
    position: relative;
    top: 22px;
    color: var(--main-color);
    font-weight: bold;
    text-transform: uppercase;
}

.articles .box i{
    margin-left: 10px;
    position: relative;
    top: 22px;
    color: var(--main-color);
    right: -158px;
    animation: arrow-move 2s linear infinite;
    font-weight: bolder;
    font-size: 18px;
    animation-play-state: paused;
}

.articles .box:hover i{
    animation-play-state: running;
    animation-delay: 0s;
}

@keyframes arrow-move {
    0%, 10%, 20%, 50%, 100%{
        right: -140px ;
    
    }
    
        40%, 60%{
        right: -150px
    }

}

.articles .link{
    border-top: 1px solid #e6e6e7;
}

.spike{
position: relative;
width: 105%;
}
.spike::before{
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 29px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}

/*END ARTICLES/*
/*START GALLARY*/
.gallery{
    
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.gallery .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
}

.gallery .box-1{
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
    margin: 60px 20px;
    width: 350px;
    
}

.gallery .box-1 .image{
    position: relative;
    overflow: hidden;
} 

.gallery .box-1 .image:hover::before {
    animation: flashing 0.7s;
}
@keyframes flashing {
    0%,
    40% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    width: 200%;
    height: 200%;
    }
}

.gallery .box-1 .image:hover img {
    transform: rotate(5deg) scale(1.1);
}

.gallery .box-1 img{
    max-width: 100%;
    transition: var(--main-transition);;
} 

.gallery .box-1 .image::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255 / 20%);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}
/*END GALLARY/*
/*START features*/
.features{
    background-color: white;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.features .container{
    display: flex;
}

.features .container .img-holder{
    background-color:white;
    width: 500px;
    height: 750px;
    margin: 20px;
    border: 2px solid #ccc;
    position: relative;
    overflow: hidden;
}



.features  .op-1{
    width: 336px;
    height: 338px;
    background-color: #f44036;
    position: absolute;
    z-index: 999;
    opacity: 50%;
    left: 54px;
    bottom: -604%;
}

.features  .op-2{
    width: 336px;
    height: 338px;
    background-color: #009688;
    position: absolute;
    z-index: 999;
    opacity: 50%;
    left: 434px;
    bottom: -604%;
}

.features  .op-3{
    width: 336px;
    height: 338px;
    background-color: #03a9f4;
    position: absolute;
    z-index: 999;
    opacity: 50%;
    left: 813px;
    bottom: -604%;
}

.features .container .img-holder img{
    width: 100%;
    height: 45%;
    position: relative;
}

.features .container .img-holder::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
    bottom: 400px;
    z-index: 9999;
    
}

.features .container .img-holder img::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}

.features  .img-holder:hover::before{
    border-width: 170px 500px 223px  0;
}


.features .container .img-holder h3{
    font-size: 40px;
    position: relative;
    left: 33%;
    top: 5px
}
.features .img-holder h3::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    
}

.features .img-holder:nth-child(1) h3::after{
    width: calc(31%);
    background-color: #f44036;
}
.features .img-holder:nth-child(2) h3::after{
    width: calc(21%);
    background-color: #009688;
}
.features .img-holder:nth-child(3) h3::after{
    width: calc(36%);
    background-color: #03a9f4 ;
}


.features .container .img-holder p{
    line-height: 40px;
    position: relative;
    left: 1%;
    bottom: -19px;
    color: #a8a5a5;
    font-size: 21px;
    overflow: hidden;
    margin-left: 37px;
    margin-right: 25px;
    
}

.features .container :nth-child(1) button{
    background-color: white;
    color: #f44036;
    font-size: 27px;
    position: relative;
    left: 32%;
    border-radius: 5px;
    margin: 10px;
    padding: 8px 23px;
    border: 3px solid #f44036;
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .container :nth-child(2) button{
    background-color: white;
    color: #009688;
    font-size: 27px;
    position: relative;
    left: 32%;
    border-radius: 5px;
    margin: 10px;
    padding: 8px 23px;
    border: 3px solid #009688;
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .container :nth-child(3) button{
    background-color: white;
    color: #03a9f4;
    font-size: 27px;
    position: relative;
    left: 32%;
    border-radius: 5px;
    margin: 10px;
    padding: 8px 23px;
    border: 3px solid #03a9f4;
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .container .img-holder:nth-child(1):hover button{
    background-color: #f44036;
    background: #f44036;
    color: white;
    transition: var(--main-transition);
    
}

.features .container .img-holder:nth-child(2):hover button{
    background-color: #009688;
    background: #009688;
    color: white;
    transition: var(--main-transition);
    
}

.features .container .img-holder:nth-child(3):hover button{
    background-color:#03a9f4;
    background: #03a9f4;
    color: white;
    transition: var(--main-transition);
}


.img-holder:hover  .op-1{
    opacity: 10%;
    transition: var(--main-transition);
    display: none;
}
.img-holder:hover  .op-2{
    opacity: 10%;
    transition: var(--main-transition);
    display: none;
}

.img-holder:hover  .op-3{
    opacity: 10%;
    transition: var(--main-transition);
    display: none;
}
/*END features/*
/*START TESTIMONIALS*/
.testimonials{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}


.testimonials .container .box-holder{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    
}

.testimonials .container .box{
    background-color: white;
    width: 364px;
    height: 228px;
    border-radius: 7px;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
    margin-right: 40px;
    margin-top: 20px;
    
}

.testimonials .container .image{
    width: 130px;
    
}

.testimonials .container .image img{
    border-radius: 50%;
    right: -218%;
    top: -51px;
    position: relative;
    width: 119px;
    border: 7px solid var(--section-background);
    
}

.testimonials .container .box h3{
    position: relative;
    top: -50%;
    margin-left: 20px;
}


.testimonials .container h4{
    position: relative;
    top: -51%;
    margin-left: 20px;
    color: gray;
    text-transform: none;
}

.testimonials .container .stars{
    position: relative;
    margin-left: 21px;
    bottom: 52%;
}


.testimonials .container .stars{
    color: gold;
}

.testimonials .container #fa-regular{
    color: black;
}



.testimonials .container p{
    margin-right: 50px;
    font-size: 18px;
    position: relative;
    top: -58%;
    margin-left: 21px;
    color: gray;
}
/*END TESTIMONIALS/*
/*START TEAM*/

.team-members{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: white;
}

.team-members .container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 110px;
}

.team-members .container .box{
    position: relative;
    width: 350px;
    height: 600px;
    background-color: var(--section-background);
    border-radius: 10px;
    margin-right: 20px;
    transition: var(--main-transition);
}


.team-members .container .box:hover img{
    filter: grayscale(80%);
    transition: var(--main-transition);
}



.team-members .container .box img{
    width: 335px;
    border-radius: 10px;
    position: absolute;
    right: 16%;
    top: 10%;
}



.team-members .container  i{
    display: flex;
    z-index: 999;
    flex-direction: column;
    flex-wrap: nowrap;
    color: #777;
    font-size: 18px;
    margin-bottom: -70px;
    align-items: flex-end;
    margin-top: 121px;
    margin-right: 14px;
}

.team-members .container  i:hover{
    color: var(--main-color);
}

.team-members .container h3{
    position: relative;
    top: 150px;
    margin-left: 20px;
    font-size: 25px;
    color: var(--main-color);
}

.team-members .container p{
    position: relative;
    top: 23%;
    margin-left: 20px;
    font-size: 20px;
}
/*END TEAM/*
/*START services*/
.services {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.services .container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .container .box{
    background-color: white;
    width: 369px;
    height: 220px;
    text-align: center;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: services;
    transition: var(--main-transition);
    position: relative;
}



.services .container .box:hover i{
    color:var(--main-color) ;
    transition: var(--main-transition);
}

.services .container .box:hover h3{
    color:rgb(169, 169, 169);
    transition: var(--main-transition);
}

.services .container .box:hover{
    transform:translateY(-10px);
}


.services .container .box::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    height: 3px;
    background-color:var(--main-color);
    top: -4px;

    transition: var(--main-transition)
}

.services .container .box:hover::before{
    width: 100%;
}

.services .container .box i{
    margin-top: 30px;
    color: #a8a5a5;
    font-size: 87px;
}

.services .container .box h3{
    margin-top: 10px;
    color: var(--main-color);
    font-size: 30px;
}

.services .container .box .info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    background-color:  #f9f9f9;
    margin-top: -19px;
    height: 48px;
}

.services .container .box .info h3{
    color: white;
    font-size: 30px;
    margin-right: 10px;
    position: relative;
    top: -9px;
    background-color: #2196f3;
    padding: 6px 18px;
    position: relative;
}

.services .container .box .info h3::before{
    content: "";
    width: 30px;
    height: 47px;
    background-color: var(--main-color);
    position: absolute;
    left: 69px;
    top: 0;
    clip-path: polygon(0% 0, 100% 0%, 0% 100%, 0 50%);
}

.services .container .box .info h3::after{
    content: "";
    width: 51px;
    height: 47px;
    background-color: #f9f9f9;
    position: absolute;
    left: 48px;
    top: 0;
    clip-path: polygon(38% 0, 120% 81%, 116% 118%, 0 0%);
}

.services .container .box .info a{
    font-size: 20px;
    margin-right: 7px;
    position: relative;
    top: -10px;
    width: 62px;
    color: var(--main-color);
}
/*END TEAM/*
/*START SKILLS*/
.skills{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: white;
}

.skills .container{
    display: flex;
    
}
.skills .container h4{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.skills .line-1,.line-2,.line-3,.line-4{
    width: 635px;
    height: 30px;
    background-color: var(--section-background);
    position: relative;
}

.skills .line-1::before{
    position:absolute;
    content: "";
    width: 580px;
    height: 30px;
    background-color: var(--main-color);
}

.skills .line-2::before{
    position:absolute;
    content: "";
    width: 550px;
    height: 30px;
    background-color: var(--main-color);
}

.skills .line-3::before{
    position:absolute;
    content: "";
    width: 500px;
    height: 30px;
    background-color: var(--main-color);
}

.skills .line-4::before{
    position:absolute;
    content: "";
    width: 600px;
    height: 30px;
    background-color: var(--main-color);
}

.skills 
.sp1,
.sp2,
.sp3,
.sp4{
    color: var(--main-color);
    background-color: white;
    border-radius: 5px;
    border: 1px solid #777;
    font-weight: bold;
    padding: 2px 5px;
    font-size: 15px;
    position: absolute;
}

.skills .sp1{
    right: 140px;
    top: 35%;
}
.skills .sp2{
    right: 13%;
    top: 48%;
}
.skills .sp3{
    right: 17%;
    top: 61%;
}
.skills .sp4{
    right: 9%;
    top: 74%;
}
.skills .image{
    margin-top: 50px;
}

/*END SKILLS*/
/*START HOW IT WORKS*/



.how{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);

}

.how .container{
display: flex;
}



.how .container  .box-holder .box{
    background-color: #f6f5f5;
    border: 2px solid white;
    width: 665px;
    height: 210px;
    margin: 30px 60px;
    display: flex;
    overflow: hidden;
    position: relative;
    z-index: 1000;
    transition: var(--main-transition);
    border-radius: 5px;
}

.how .container  .box-holder .box::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: var(--section-background);
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
}

.how .container  .box-holder .box:hover:before{
    width: 100%;
    height: 200%;
    transition: var(--main-transition);
    box-shadow: 0 0 0 0 #ccc;
}

.how .container .box .image{
    display: flex;
    align-items: center;
    z-index: 1000;
}

.how .container .box .image img{
    width: 91px;
    margin: 0px 20px;
    z-index: 1000;
}



.how .container .box .info h3{
    font-size: 25px;
    z-index: 1000;
}

.how .container .box .info p{
    font-size: 21px;
    margin-right: 20px;
    z-index: 1000;
}
/*END HOW IT WORKS*/
/*START EVENTS*/
.events{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: white;
}

.events .dots1{
    position: absolute;
    right: 27px;
    bottom: 400px;
}

.events .dots2{
    position: absolute;
    left: 5%;
    bottom: 19%;
}

.events .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.events .container img{
    width: 500px;
    margin-right: 70px;
}

.events .container .box-holder{
display: flex;
}

.events .container .box-holder .box{
    width: 81px;
    height: 101px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    margin: 5px 11px
}

.events .container .box-holder .box h3{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    font-size: 30px;
    text-align: center;
    margin: 12px -1px;
    padding-bottom: 12px;
}

.events .container .box-holder .box h4{
    text-align: center;
    margin: 14px;
}

.events .container .info{
    position: absolute;
    bottom: 31%;
    left: 52%;
}

.events .container .info h3{
    
    font-size: 32px;
    margin: 0;
}

.events .container .info p{
    font-size: 18px;
    margin-left: -71px;
    padding: 0px 0px;
    text-align: center;
}



.events .subscribe form{
    margin-left: 397px;
    margin-top: 14%;
    width: 505px;
    height: 82px;
    background-color: var(--section-background);
    border-radius: 50px;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
}

.events .subscribe form input:focus-visible{
    outline: none;
}

.events .subscribe form input::placeholder{
    text-align: center;
}

.events .subscribe form input[type="email"]{
    border-radius: 10px;
    border: 0;
    width: 300px;
    margin-right: 24px;
    height: 50px;
    border-radius: 50px;
    caret-color:var(--main-color);
}

.events .subscribe form input[type="submit"]{
    height: 50px;
    border-radius: 50px;
    border: 0;
    width: 98px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
}

/*END EVENTS*/
/*START PRICING*/
.pricing{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}
.pricing .dots1{
    z-index: 0;
    position: absolute;
    right: 0;
    top: 15%;
}

.pricing .dots2{
    z-index: 0;
    position: absolute;
    bottom: 14%;
    left: 0;
}



.pricing .container .box-holder{
    display: flex;
    gap: 20px;
    
    
}

.pricing .container .box-holder .box{
    background-color: white;
    width: 400px;
    height: 710px;
    display: flex;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--main-transition);
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: var(--main-transition);
    position: relative;
}

.pricing .container .box-holder .box::before{
    content: "";
    position: absolute;
    background-color: var(--section-background);
    width: 0;
    left: 0;
    top: 0;
    transform: translateX(0);
    transition: var(--main-transition);
}

.pricing .container .box-holder .box:hover:before{
    width: 100%;
    height: 100%;
    transition: var(--main-transition);
}



#tow{
    position: relative;
    bottom: 20px; 
}

#tow::after{
    content: "Most Popular";
    position: absolute;
    background-color: var(--main-color);
    color: white;
    padding: 8px 43px;
    font-size: 20px;
    font-weight: bold;
    transform: rotateZ(90deg);
    bottom: calc(83% + 1px);
    right: -49px;
}

#tow .label{
    background-color: white;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 40px;
    top: 181px;
    clip-path: polygon(38% 0, 120% 206%, 91% 273%, 0 0%);
    transform: rotateZ(90deg);
    z-index: 999999;
}

#iol::before{
    bottom: 60%;
}
    


.pricing .container .box-holder .box h3{
    font-size: 26px;
    z-index: 9999;
}

.pricing .container .box-holder .box h4{
    font-size: 51px;
    margin: 13px 12px;
    color: var(--main-color);
    z-index: 9999;
}

.pricing .container .box-holder .box h4::before{
    content: "per month";
    color: #777;
    font-size: 20px;
    position: absolute;
    bottom: 47%;
    font-weight: normal;
    bottom: 60%;
    position: absolute;
}



.pricing .container .box-holder .box img{
    width: 110px;
    z-index: 9999;
    position: relative;
}

.pricing .container .box-holder .box .info{
    margin-top: 0px;
    position: relative;
    left: -0;
    width: 100%;
    z-index: 9999;
}



.pricing .container .box-holder .box .info li{
    border-bottom: 1px solid var(--section-background);
    margin: 13px 0px;
    padding: 12px 7px;
    font-size: 18px;
}

.pricing .container .box-holder .box .info li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 900;
    color: var(--main-color);
    font-size: 20px;
}

.pricing .container .box-holder .box  a{
    margin-top: 42px;
    text-transform: none;
    text-decoration: none;
    background-color: white;
    color: var(--main-color);
    border: 3px solid;
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;
    position:relative;
    top: -3%;
    transition: var(--main-transition);
}

.pricing .container .box-holder .box  a:hover{
    background-color: var(--main-color);
    color: white;
    outline: none;
    border: none;
}
/*END PRICING*/
/*STRT TOP*/
.top{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: white;
}

.top .container{
    margin: 0px 15px;
}

.top .container .holder{
    background-color: #ddd;
    width: 113%;
    height: 100%;
    display: flex;
    border: 1px solid #d5d3d3;
}

.top .container .holder .list{
    width: 26%;
}

.top .container .holder .list .name{
    background-color:var(--section-background);
    margin: 0;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top .container .holder  i{
font-size: 25px;
}

.top .container .holder .list li{
    background-color: white;
    padding: 17px 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d5d3d3;
}

.top .container .holder .list li:hover{
    color: var(--main-color);
}

.top .container .holder .list li span{
    color: #777;
    margin-top: 8px;
}



.top .container .holder .preview img{
    width: 95%;
    margin: 5px 9px;
    position: relative;
    left: 29px;
    bottom: -4px;
}

.top .container .holder .preview .info{
    background-color: white;
    padding: 20px 20px;
    margin: 10px 38px;
    width: 95%;
}
/*END TOP*/
/*STRT STRT*/
.start{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-image: url(../stats.jpg);
    background-size: cover;
    background-color: var(--section-background);
    background-size: cover;
    min-height: 300px;
}
.start::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--section-background);
    opacity: 97%;
    top: 0;
    
}



.start  .text-1{
    position: relative;
    left: 36%;
    top: -11%;
    font-size: 45px;
    margin: 45px 0px;
    width: 402px;
}

.start .container .box-holder{
display: flex;
gap: 20px;
}

.start .container .box-holder .box{
    background-color: white;
    width: 320px;
    height: 220px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.start .container .box-holder .box::before{
    content: "";
    background-color: var(--main-color);
    position: absolute;
    width: 0px;
    height: 0px;
    left: 0;
    top: 0;
    transition: 1s;
}

.start .container .box-holder .box:hover::before{
    width: 2px;
    height: 100%;
}

.start .container .box-holder .box::after{
    content: "";
    background-color: var(--main-color);
    position: absolute;
    width: 0px;
    height: 0px;
    right:  0;
    bottom: 0;
    transition: 1s;
}

.start .container .box-holder .box:hover::after{
    width: 2px;
    height: 100%;
}

.start .container .box-holder .box i{
    font-size: 40px;
}

.start .container .box-holder .box .numper{
    font-size: 40px;
    margin: 10px;
    font-weight: bold;
}

.start .container .box-holder .box .text{
    color: var(--main-color);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}
/*END STRT*/
/*START Discount*/
.Discount{
    display: flex;
    height: 700px;
}

.Discount .image{
    background-image: url(../discount-background1.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Discount .image:hover{
    background-image: url(../discount-background2.jpg);
    transition: 1s;
}

.Discount .image::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: 96%;
    position: absolute;
    z-index: -1;
}




.Discount .image .content h3{
    font-size: 35px;
}

.Discount .image .content p{
    font-size: 24px;
    padding: 0px 20px;
}

.Discount .image .content img{
    width: 400px;
}



.Discount .form .content{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 80%;
    transform: translateX(-59%);
}

.Discount .form .content h3{
    font-size: 36px;
}

.Discount .form .content input::placeholder{
    padding-left: 10px;
    font-size: 18px;
}

.Discount .form .content input:not(#last-child){
    overflow: visible;
    width: 500px;
    background-color: var(--section-background);
    height: 60px;
    border: none;
    border-bottom: 1px solid #777;
    margin: 20px 0;
    outline: none;
}
.Discount .form .content textarea{
    overflow: visible;
    width: 500px;
    background-color: var(--section-background);
    height: 60px;
    border: none;
    border-bottom: 1px solid #777;
    margin: 20px 0;
    outline: none;
}

#last-child{
    background-color: var(--main-color);
    color: white;
    border: none;
    font-weight: bold;
    width: 500px;
    height: 60px;
    font-size: 25px;
    outline: none;
}

.Discount .form .content textarea::placeholder{
    padding-left: 10px;
    font-size: 18px;

}
/*END Discount*/
/*STRT footer*/
.footer{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: #191919;
}


.footer  .box-holder{
    display: flex;
}

.footer  .box-holder .box{
    flex-basis: 25%;
    margin-left: 20px;
}

.footer  .box-holder .box h3{
    font-size: 50px;
    margin: 0;
    color: white;
}

.footer  .box-holder .box  .icons{
    margin: 13px 0;
}

.footer  .box-holder .box  .icons i{
    font-size: 60px;
    color: #b9b9b9;
}

.footer  .box-holder .box  .icons #first:hover{
    color:#21b5fa;
}

.footer  .box-holder .box  .icons #sec:hover{
    color: #1787e0;
}

.footer  .box-holder .box  .icons #ther:hover{
    color: red;
}



.footer  .box-holder .box p{
    font-size: 21px;
    color: #b9b9b9;
}



.footer  .box-holder .box .links a::before{
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}

.footer  .box-holder .box .links a:hover{
    color: white;
    
}

.footer  .box-holder .box .links a{
    
    color: #b9b9b9;
    font-size: 18px;
}

.footer  .box-holder .box .links a:hover{
    padding-left: 10px;
    transition: var(--main-transition);
}

.footer  .box-holder .box .links li:not(#las-child){
    margin: 10px 0;
    border-bottom: 1px solid #444;
    padding: 15px 0;
    width: 95%;
}



.footer  .box-holder .box .links li:hover{
    padding-left: 10px;
    transition: var(--main-transition);
}

.footer  .box-holder .box .line{
    display: flex;
    align-items: center;
    margin: 20px 0
}

.footer  .box-holder .box .line i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 5px;
}

.footer  .box-holder .box .line .info{
    color: #b9b9b9;
    font-size: 21px;
    line-height: 1.7;
    flex: 1;
}

.footer  .box-holder .box_footer-gallary{
    flex-basis: 26%;
    margin-left: 20px;
}

.footer  .box-holder .box_footer-gallary img{
    width: 100px;
    width: 100px;
    border: 5px solid white;
}

.footer .last_p{
    color: white;
    font-size: 26px;
    border-top: 1px solid var(--section-background);
    margin: 0;
    text-align: center;
    padding-top: 10px;
    font-family: 'Font Awesome 5 Brands';
    height: 0;
}
/*END footer*/












