* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
    
}

a{
    text-decoration: none;
    color: #777;
    
}

li{
    text-transform: none;  
    list-style: none;  
    margin: 10px;
}

ul{
    display: flex;
    flex-direction: row;
}

/* END GLOPAL RULES*/
/* START HEADER*/
.header{
    width: 100%;
    background-color: #444;
    color: white;
}

/*very small*/

@media (min-width:320px){
    .header{
    width: 393%;}
}

/* Small */
@media (min-width: 768px) {
    .header{
        width: 153%;
    }

}

  /* Medium */
@media (min-width: 992px) {
    .header{
        width: 111%;
    }

}
    /* Large */
@media (min-width: 1200px) {
    .header{
        width: 89%;
    }
}


/* Large */
@media (min-width: 1180px) {
.header{
    width: 100%;
}
}

.container{
    margin-left: 40px;
    margin-right: 40px;
}

.header .container .links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .container i{
    color: #222;
}

.header .container .links span{
    font-size: 30px;
    font-weight: bold;
    font-family: math;
    transition: var(--main-transition);
    padding: 10px 5px;
}

.header .container .links span:hover{
    border-radius: 27px 8px 30px;
    background-color: rgb(30, 30, 30);
    
}



.header .container .links ul li{
    text-transform: none;
    list-style: none;
    margin: 6px 12px;
    background-color: #777;
    border-radius: 27px 8px 30px;
    padding: 10px 0px;
    transition: var(--main-transition);
    font-weight: bold;
}

.header .container .links ul li:hover{
    background-color: rgb(206, 206, 206);
    color: #444;
}

.header .container .links ul li a{
    font-size: 18px;
    padding: 6px 10px;
    font-family: ui-monospace;
}
/* END HEADER*/
/* START LANDING*/
.landing{
padding: var(--main-padding-bottom);
padding: var(--main-padding-top);
background-color: #777;
}

@media (min-width:320px){
    .landing{
    width: 393%;}
}

@media (min-width: 768px) {
    .landing{
        width: 153%;
    }

}

  /* Medium */
@media (min-width: 992px) {
    .landing{
        width: 111%;
    }

}
    /* Large */
@media (min-width: 1200px) {
    .landing{
        width: 89%;
    }
}

@media (min-width: 1180px) {
    .landing{
        width: 100%;
    }
    }


.landing h3{
    font-size: 2em;
    margin: 0;
    font-weight: bold;
    font-family: math;
    position: relative;
    color: #222;
    text-transform: capitalize;
    left: 90px;
    z-index: 2;
    width: 496px;
}

.landing h3::before{
    content: "";
    width: 319px;
    right: 40px;
    height: 62px;
    position: absolute;
    background-color: #444;
    z-index: -1;
    transform: rotate(-10deg);
    border-radius: 40px 8px 43px;
    transition: var(--main-transition);
}

.landing h3::after{
    content: "";
    width: 319px;
    right: 40px;
    height: 62px;
    position: absolute;
    background-color: #444;
    z-index: -1;
    transform: rotate(8deg);
    border-radius: 40px 8px 43px;
    transition: var(--main-transition);
}

.landing h3:hover::after{
    transform: rotate(0deg);
    background-color: var(--section-background);
}


.landing h3:hover::before{
    transform: rotate(0deg);
    background-color: var(--section-background);
    width: 323px;
    left: 1px;
}

.landing .holder{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
}



.landing .container .divs-holder{
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    margin-right: 5px;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-top: 30px;
} 

.landing .container .divs-holder div{
    font-size: 20px;
    padding: 10px 10px;
    margin: 8px 13px;
    width: 150px;
    font-family: ui-rounded;
    background-color: rgb(100, 100, 100);
    border-radius: 27px 8px 30px;
    font-weight: 600;
    transition: var(--main-transition);
} 

.landing .container .divs-holder div:hover{
    transform: translateY(-20px );
    box-shadow: 10px 0px 20px rgb(85, 85, 85);
}



.landing .container .divs-holder div::first-letter{
    color: rgb(194 194 194);

}

.landing .container .image{
    flex-basis: 50%;
}

.landing .container .image img{
    width: 360px;
    border-radius: 160% 56% 106% 25%;
    position: relative;
    box-shadow: 10px 0px 20px #444;
    filter: grayscale(15%);
}

.landing .container img:hover{
    transform: translateY(-20px );
    border-radius: 50% 50%;
    transition: 1s;
}

.landing .container .image::before{
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    border-radius: 50%;
    z-index: 0;
    transform: translate(40px, -27px);
    background-color: rgb(52, 51, 51);
    box-shadow: 10px 0px 20px #444;
}
/* END LANDING*/
/* START GOLAS*/
.goals{
    padding: var(--main-padding-bottom);
    padding: var(--main-padding-top);
    background-color: #777;
}

@media (min-width:320px){
    .goals{
    width: 393%;}
}

@media (min-width: 768px) {
    .goals{
        width: 153%;
    }

}

  /* Medium */
@media (min-width: 992px) {
    .goals{
        width: 111%;
    }

}
    /* Large */
@media (min-width: 1200px) {
    .goals{
        width: 89%;
    }
}

@media (min-width: 1180px) {
    .goals{
        width: 100%;
    }
    }

.goals .main-title{
    font-size: 42px;
    margin: 0;
    font-family: math;
    position: relative;
    color: #222;
    text-transform: capitalize;
    left: 90px;
    z-index: 2;
    width: 496px;
}



.goals .main-title::before{
    content: "";
    width: 200px;
    right: 40px;
    height: 32px;
    left: 20px;
    position: absolute;
    background-color: #444;
    z-index: -1;
    transform: rotate(-10deg);
    border-radius: 40px 8px 43px;
    transition: var(--main-transition);
}

.goals .main-title::after{
    content: "";
    width: 200px;
    right: 40px;
    height: 32px;
    left: 20px;
    position: absolute;
    background-color: #444;
    z-index: -1;
    transform: rotate(8deg);
    border-radius: 40px 8px 43px;
    transition: var(--main-transition);
}

.goals .main-title:hover::before{
    width: 50%;
    height: 60%;
    top: 10px;
    left: 0;
    background-color: #eee;
    transform: rotate(0deg);
}

.goals .main-title:hover::after{
    top: 10px;
    left: 0;
    height: 60%;
    width: 50%;
    background-color: #eee;
    transform: rotate(0deg);
}



.goals  .holder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    position: relative;
}

.goals  .image{
    position: relative;
    width: 400px;
    transform: translate(22px,150px);
}

.goals  img{
    width: 500px;
    filter: grayscale(50%);
    position: relative;
    right: 100px;
    bottom: 35px;
    width: 400px;
    transform: rotateZ(-16deg);
}

.goals  .box-holder{
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 190px;
    flex-wrap: wrap;
    width: 100%;
    height: 320px;
    flex-direction: row;
    right: 0;
}

.goals  .box-holder .box{
    width: 183px;
    height: 80px;
    margin: 0;
    padding: 0;
}

.goals  .box-holder .box p{
    font-family: meth;
    font-size: 20px;
    position: relative;
    z-index: 100;
    padding: 5px 5px;
    font-weight: bold;
    transition: var(--main-transition);
    animation: font 8s infinite 0s ease-in forwards;
}

.goals  .box-holder .box p::before{
    content: "";
    width: 100%;
    height: 3px;
    bottom: -3px;
    left: -25px;
    position: absolute;
    background-color: rgb(68, 68, 68);
    z-index: -1;
    transition: var(--main-transition);
}

#A p::before{
    animation: try 8s infinite 0s ease-out forwards;
}

#B p::before{
    animation: try 8s infinite 3s ease-out forwards;
}


@keyframes try {
    0%,10%,20%,30%,40%{
        width: 100%;
        height: 3px;
        bottom: -3px;
        left: -25px;
    }

    60%,70%,80%,90%,95%{
        
        bottom: 0;
        left: 0;
        background-color: #c8c8c8;
        height: 100%;
        border-radius: 10px;
    }
    100%{
        width: 100%;
        height: 3px;
        bottom: -3px;
        left: -25px;
    }
}


@keyframes font{
    0%,10%,20%,30%,40%{
    
    }

    60%,70%,80%,90%,95%{
        text-align: center;
        margin: 10px;
    }

    100%{
    text-align: left;
    }
} 

/* END GOLAS*/
/*START CONTACT*/
.contact{
    padding-top: var(--main-padding-bottom);
    padding-bottom: 180px;
    background-color: #777;
    position: relative;
}

@media (min-width:320px){
    .contact{
    width: 393%;}
}

@media (min-width: 768px) {
    .contact{
        width: 153%;
    }

}

  /* Medium */
@media (min-width: 992px) {
    .contact{
        width: 111%;
    }

}
    /* Large */
@media (min-width: 1200px) {
    .contact{
        width: 89%;
    }
}

@media (min-width: 1180px) {
    .contact{
        width: 100%;
    }
    }

.contact img{
    filter: grayscale(100%);
    position: absolute;
    z-index: 0;
}
.contact #sec{
    transform: translate(720px, 167px);
    z-index: 0;
}

.contact .box-holder{
display: flex;
justify-content: space-around;
}

.contact .box-holder .box{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 290px;
    z-index: 2;
}

.contact .box-holder #info{
    transform: translate(169px, 0px);
    background-color: #282828;
    color: #b4b4b4;
    width: 330px;
    text-align: left;
    border-radius: 10px;
    position: relative;
    left: -256px;
    height: 240px;
}



.contact .box-holder #info h4{
    padding: 10px 0;
}

.contact .box-holder #info i{
    padding: 3px 5px;
    font-size: 18px;
}

.contact .box-holder #info .icons{
    display: flex;
    position: relative;
    margin-top: 20px;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.contact .box-holder #info .icons i{
    font-size: 28px;
    font-weight: bold;
}

.contact .box-holder #info .icons i:hover{
    color: #444;
    transition: var(--main-transition);
}

.contact .box-holder .box ul{
    display: flex;
    flex-direction: column;
}
.contact .box-holder .box ul li{
    text-transform: none;
    list-style: none;
    margin: 12px -8px;
    font-size: 18px;
    font-family: meth;
}

.contact .box-holder .box h3{
    font-size: 30px;
    margin: 0;
    padding: 0;
    font-family: meth;
}

.contact .box-holder .box h4{
    font-size: 30px;
    margin: 0;
    padding: 0;
    font-family: meth;
    text-align: center;
}
.contact h5{
    font-size: 275px;
    width: 200px;
    z-index: -1;
    font-family: neth;
    padding: -30px;
    margin: -30px;
    transform: translateX(10%);
    transition: var(--main-transition);
}

.contact h5:hover{
    color: white;
}

.contact .box-holder .box p{
    font-family: meth;
    font-size: 20px;
}

.contact .box-holder .box input{
    background-color: #444;
    border-bottom: 1px solid;
    outline: none;
    border: none;
    margin: 12px 0;
    padding: 18px 0;
    border-radius: 10px;
}
.contact .box-holder .box a{
    background-color: white;
    border: none;
    padding: 18px 0px;
    margin: 20px 0;
    font-weight: bold;
    font-size: 18px;
    color: #282828;
    font-family: meth;
    transition: var(--main-transition);
    border-radius: 10px;
}

.contact .box-holder .box input::placeholder{
    padding-left: 10px;
    font-family: meth;
}

.contact .box-holder .box #submit{
    background-color: white;
    border: none;
    padding: 18px 0px;
    margin: 20px 0;
    font-weight: bold;
    font-size: 18px;
    color: #282828;
    font-family: meth;
    transition: var(--main-transition);
}

.contact .box-holder .box a:hover{
    background-color: #282828;
    color:white ;
    border: 1px solid ;
}

.copyright{
    background: #222;
    margin: 0;
    padding: 0;
    height: 68px;
    border-top: 2px dashed #eee;
}

@media (min-width:320px){
    .copyright{
    width: 393%;}
}
@media (min-width: 768px) {
    .copyright{
        width: 153%;
    }

}

  /* Medium */
@media (min-width: 992px) {
    .copyright{
        width: 111%;
    }

}
    /* Large */
@media (min-width: 1200px) {
    .copyright{
        width: 89%;
    }
}

@media (min-width: 1180px) {
    .copyright{
        width: 100%;
    }
    }

.copyright h6{
    font-size: 18px;
    font-weight: bold;
    font-family: meth;
    text-align: center;
    text-transform:capitalize;
    color: #eee;
    padding: 10px;
    margin: 0px 0px;
}

.copyright p{
    color: #aaa;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* END CONTACT*/
